@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
*{
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: black;
}

/* Header */

.header{
  z-index: 2;
}
.tool{
  border-left: 1px solid #f4f4f4;
}
::placeholder{
  font-size: 15px;
  color: #f4f4f4;
}
.h-r-p1{
  border-right: 2px solid white;
  display: flex;
  gap: 12px;
  padding-right: 1rem;
}
.h-r-p1 button:hover{
  color: white;
  transform: scale(1.1);
}
.h-r-p1 button{
  font-weight: 700;
  font-size: 1rem;
  color: #b3b3b3;
  transition: transform 0.3s ease, color 0.3s ease;
  
}
.sign:hover{
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;

}
.log:hover{
  background-color: #f0f0f0;
  transform: scale();
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 1px 2px 3px 4px;
}
.search:hover {
  background-color: #2a2a2a;
  color: #fff;
  outline: 1px solid #2a2a2a;
  outline-style: groove;
}
input{
  border: none;
  outline: none;
  color: white;
}

/* Your Library */

.cyfp-btn:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease, color 0.3s ease;
  margin-left: 5px;
}
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              
}
.lib-foot-btn{
  border: 1px solid #b3b3b3;
  justify-content: space-evenly;
  align-items: center;
}
.library{
  top: 75px;
}


/* content */

.home-content{
  position: absolute;
  top: 75px;
  left: 410px;
}


/* card */

.card {
  position: relative;
}

.playbtn {
  position: absolute;
  bottom: 60px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  background-color: #1ed760;
  opacity: 0;
  transform: translateY(12px) scale(0.95);
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    background-color 0.2s ease;
}


.card:hover .playbtn {
  opacity: 1;
  transform: translateY(-14px) scale(1);
  pointer-events: auto;
}

.playbtn:hover {
  background-color: #3be272;
  transform: scale(1.08);
}
.content-row{
  border-bottom: 1px solid #292929;
  padding-bottom: 80px;
}
.cards{
  overflow: hidden;
}
/* Footer */

.plc-items a{
  /* padding-bottom: 8px; */
  margin-bottom: 8px ;
  font-size: 16px;
  color: #b3b3b3;
}
.plc-heading{
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.plc-items a:hover{
  text-decoration: underline solid white;
  color: white;
  transform: scale(1.02);
}
.foot-socials div{
  background-color: #292929;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.footer-main{
  border-bottom: 1px solid #292929;
  /* padding-bottom: 80px; */
}




